.navigation{
    height: calc(100vh + 17px);
    border-right: 1px solid #565656;
    margin-top: -18px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.navigation::-webkit-scrollbar{
    display: none;
}

.smallHeading{
    color: var(--text);
    /* Small Heading */
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 128%; /* 40px */
    letter-spacing: 0.96px;
    margin: 10px 0 10px 44px;
    cursor: pointer;
    position: relative;
    
  }
  
  .textContainer {
    display: block; /* Ensure the container wraps around the text */
    position: relative; /* Add position relative */
  }
  
  .textContainer:hover .hiddenUnderline {
    border-bottom: 1px solid white;
    animation: out 0.3s forwards;
  }
  
  .hiddenUnderline{
    position: absolute;
    animation: in 0.3s forwards;
    border-bottom: 1px solid white;
  }
  
  @keyframes in {
    0%{
      width: 80px;
    }
    100%{
      width: 0px;
    }
  }
  
  @keyframes out{
    0%{width: 0px;}
    100%{width: 80px;}
  }
  .underline{
    border-bottom: 1px solid white;
  }
  
  .categoryContainer:hover .category{
    transition: filter 0.2s;
    filter: blur(0px);
  }
  
  .category{
    color: var(--accent);
    filter: blur(4px);
    margin: 18px 0 18px 18px;
    cursor: default;
  }
  