:root {
  --text: #ffffff;
  --background: #1a1a1a;
  --primary: #31A5FF;
  --secondary: #ffb031;
}

body{
  background-color: var(--background);
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

.heading{
  color: var(--text);
  font-weight: 200;
  font-size: 76px;
  text-transform: uppercase;
}

.body{
  font-weight: 300;
  font-size: 32px;
  color: var(--text);
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  width: 240px; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2px; /* Specified height */
  background: #ffffff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  border-radius: 0px;
  border: 1px solid white;
  width: 5px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: white; /* Green background */
  cursor: pointer; /* Cursor on hover */
}